@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c6af8c45;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-family: league-spartan, sans-serif;
}

.player-container {
  width: 400px;
  height: 500px;
  background-color: #9f866070;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  background-image: url("img/Al-Fatihah.png");
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  box-shadow: 0 15px 36px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /*changethistoshowprogress*/
  width: 66%;
  transition: width 0.1s linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: width 0.1s linear;
  -moz-transition: width 0.1s linear;
  -ms-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.fa-solid {
  font-size: 30px;
  color: rgb(129, 129, 129);
  cursor: pointer;
  user-select: none;
  /* margin-right: 30px; */
}
.fa-solid:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}
.main-button {
  font-size: 40px;
  position: relative;
  top: -5px;
  min-width: 30px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  /* s */

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    /* left: 100px; */
  }
}

/* my wonderfull media query */
@media screen and (max-width: 430px) {
  .player-container {
    width: 95vw;
    height: calc(110px + 95vw);
  }
  .img-container {
    width: 80%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
